.navbar {
	overflow: hidden;
	background-color: black;
	color: white;
	font-size: 1.125em;
	font-weight: bold;
	min-height: 40px;
}

.navbar a {
	float: left;
	color: inherit;
	padding: 14px 12px;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
	border-style: solid; 
	border-color: black;
	border-width: 1px;
}

.dropdown {
	float: left;
	overflow: hidden;
	font-size: inherit;
}

.dropdown .dropdown_button {
	font-size: inherit;
	border: none;
	outline: none;
	color: inherit;
	padding: 12px 12px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
	font-weight: inherit;
	border-style: solid; 
	border-color: black;
	border-width: 1px;
}

.navbar a:hover, .dropdown:hover .dropdown_button, .dropdown_content a:hover {
	background-color: blue;
	color: white;
	border-style: solid; 
	border-color: white;
	border-width: 1px;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 100px;
	border-style: solid; 
	border-color: black;
	border-width: 1px;
	border-top: none;
	/*
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	*/
}

.dropdown_content a {
	float: none;
	color: black;
	padding: 12px 12px;
	display: block;
	text-align: left;
	font-size: 0.875em;
	text-decoration: none;
	border-style: solid; 
	border-color: white;
	border-width: 1px;
}

.dropdown:hover .dropdown_content {
	display: block;
}